name: tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-bot:
    runs-on: ubuntu-22.04
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew test-bot --only-tap-syntax
